* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
}

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  header {
    width: 100%;

    .header_block {
      max-width: 1528px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 39px 10px 0;

      .contact_block {

        .phone_number {

          cursor: default;
          display: block;
          color: #000;
          font-size: 30px;
          //font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
          font-weight: normal;

        }

        .phone_text {
          color: #e52c2f;
          font-size: 18px;
          //font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

      }

    }

    nav {
      max-width: 1528px;
      margin: 0 auto;
      height: auto;
      padding: 20px 0 16px;
      width: 100%;
      .checkbox-menu {
        display: none;
      }
      ul {
        display: flex;
        //justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 20px;

        li {
          list-style: none;

          a {
            padding: 10px 25px;
            color: #000;
            font-size: 16px;
            //font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
            border-radius: 3px;
            align-self: center;
            transition: background .2s linear;

            &:hover {
              background-color: #e52c2f;
              color: white;
            }
          }

        }
        .toggle {
          display: none;
          background: #e52c2f  ;
          width: 34px;
          height: 34px;
          border-radius: 50%;

          justify-content: space-around;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          .min_menu {
            display: none;
          }
          span {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: white;

          }
        }
      }


    }
  }

  .main_content {
    .big_pic_wrapper {
      background: url("./../img/bg1.jpg") no-repeat center;
      background-size: cover;
      padding: 100px 146px 136px;
      min-height: 660px;
      position: relative;
      display: flex;
      justify-content: left;
      align-items: flex-end;

      .big_pic_inner {


        .text_block {
          max-width: 990px;
          padding: 41px 150px 69px 107px;
          background: #2f3c82;
          border: none;
          clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);

          h1 {
            color: #fff;
            font-size: 40px;
            //font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
            font-weight: normal;
          }

          p {
            margin: 15px 0 0;
            color: #fff;
            font-size: 25px;
            //font-family: 'montserrat-l', Arial, Helvetica, sans-serif;
            font-weight: normal;
          }
        }

        .button {
          position: relative;
          margin: -36px 0 0;
          padding: 0 0 0 105px;

          a {
            display: inline-block;
            padding: 25px 32px;
            color: #fff;
            font-size: 18px;
            //font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            background: #e52c2f;
            border: 2px solid #e52c2f;
            transition: color 0.3s linear;

            &:hover {
              background: #fff;
              color: #e52c2f;
            }
          }
        }

      }
    }

    .bl_2_wrapper {
      background: url("./../img/bg2.jpg") no-repeat 50% 0;
      background-size: cover;
      position: relative;

      .bl_2_wrapper_inner {
        padding: 200px 0 183px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .bl_2_wrapper_inner_text_block {
          width: 70%;


          .bl_2_wrapper_inner_text_block_title {
            padding: 0 0 7px;
            margin: 0;
            color: #000;
            font-size: 45px;
            //font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
            font-weight: normal;

          }

          .bl_2_wrapper_inner_text_block_subtitle {
            padding: 0 0 12px;
            color: #000;
            font-size: 25px;
            //font-family: 'montserrat-l', Arial, Helvetica, sans-serif;
          }

          .bl_2_wrapper_inner_text_block_table {

            .bl_2_wrapper_inner_text_block_table_main {

              display: flex;
              flex-wrap: wrap;

              li {
                width: 48%;
                display: flex;
                align-items: center;
                margin: 0 10px 25px 0;
                .button {
                  flex: none;
                  display: block;
                  padding: 13px 0 0;
                  top: 40px;
                  position: relative;
                  left: -180px;
                  a {
                    display: inline-block;
                    position: relative;
                    padding: 13px 18px 12px 51px;
                    color: #fff;
                    font-size: 16px;
                    //font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    background: #e52c2f url(./../img/num-but-ico.png) 15px 50% no-repeat;
                    transition: all 0.2s linear;
                  }


                }
              }

              .left_part {
                margin: 0 23px 0 0;
                padding: 0;
                height: auto;
                flex: none;
                min-width: 65px;
                min-height: 65px;
                color: #000;
                font-size: 55px;
                line-height: 1.6;
                //font-family: 'montserrat-bl', Arial, Helvetica, sans-serif;
                border-radius: 0;
                display: inline-block;
                background: url(./../img/number-arr.png) right 0 bottom 0 no-repeat;

              }

              .right_part {
                display: inline-block;
                align-items: center;
              }
            }
          }
        }
      }

    }

    .bl_3_wrapper {
      position: relative;
      background: url("./../img/bg3.jpg") no-repeat center center;
      background-size: cover;
      padding: 0 20px;
      .bl_3_wrapper_inner {
        padding: 98px 0 104px;
        display: flex;
        width: 100%;
        align-items: center;
        .bl_3_wrapper_title {
          display: flex;
          width: 50%;
          flex-direction: column;
          justify-content: center;
          color: white;
          h3 {
            margin-bottom: 39px;
            font-size: 40px;
            line-height: 1.2;
          }
          p {
            color: #fff;
            font-size: 30px;
            line-height: 1.2;
          }
        }
        .bl_3_wrapper_form {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 50%;
          height: 550px;
          color: #333;
          font-family: "Fira Sans", sans-serif;
          border: 1px solid #edeada;
          border-radius: 10px;
          background: #fff;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .bl_video_wrapper{
      .bl_video_wrapper_inner {
        max-width: none;
        padding: 72px 0 196px;
        background: #fff;
        .bl_video_wrapper_title {
          padding: 0 0 83px;
          color: #2f3c82;
          font-size: 45px;
          text-align: center;
          width: 650px;
          margin: 0 auto;
        }
        .bl_video_wrapper_video {
          width: 1000px;
          margin: 0 auto;
        }
      }
    }
    .bl_calculator_wrapper {
      background: #e9ebf1 url(./../img/bg4.jpg) left 50% bottom 0 no-repeat;
      height: 2375px;
      .bl_calculator_wrapper_inner {
        background: #fff;
        box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
        padding: 56px 20px 60px;
        .bl_calculator_title {
          color: #2f3c82;
          font-size: 40px;
          font-weight: 400;
          text-align: center;
          padding: 0 0 39px;
          max-width: 1116px;
          margin: 0 auto;
        }
        .bl_calculator_calc {
          height: 1000px;
          background: white;
          width: 100%;
          text-align: center;
          border: 1px solid;
        }
      }
    }
    .bl_video_gallery_wrapper{
      padding: 0 30px;
      background: #fff url(./../img/bg5.jpg) left 50% bottom 0 no-repeat;
      .bl_video_gallery_block_video {
        padding: 105px 0 442px;
        .bl_video_gallery_block_video_title{
          padding: 0 0 54px;
          color: #2f3c82;
          font-size: 45px;
          font-weight: normal;
          text-align: center;
        }
        .carousel {
          .slider {
            position: relative;
            overflow: hidden;
          }

          .slider__wrapper {
            display: flex;
            transition: transform 0.6s ease;
          }

          .slider__item {
            flex: 0 0 35%;
            max-width: 35%;
          }

          .slider__control {
            position: absolute;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            color: #fff;
            text-align: center;
            opacity: 0.5;
            height: 50px;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, .5);
          }

          .slider__control:hover,
          .slider__control:focus {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: .9;
          }

          .slider__control_left {
            left: 0;
          }

          .slider__control_right {
            right: 0;
          }

          .slider__control::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: transparent no-repeat center center;
            background-size: 100% 100%;
          }

          .slider__control_left::before {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
          }

          .slider__control_right::before {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
          }

          .slider__item>div {
            line-height: 250px;
            font-size: 100px;
            text-align: center;
          }
        }
      }
    }
    .bl_tabs_block_wrapper {
      background-color: #f2f2f2;
      .bl_tabs_block_wrapper_inner {
        max-width: 1256px;
        margin: 0 auto;
        padding-top: 40px;
        .bl_tabs_block_title {
          text-align: center;
          font-weight: 600;
          font-size: 32px;
          margin-bottom: 10px;
          color: #212121;
          text-decoration: none;
          line-height: 1;
        }
        .tabs {
          display: flex;
          justify-content: space-around;
          text-align: center;
          position: relative;
          z-index: 2;
          height: 100%;
          li {
            border: 1px solid black;
            outline: none;
            width: 35%;
            text-align: center;
            //float: left;
            padding: 19px 30px;
            background: rgba(0, 0, 0, 0.1);
            margin-right: 1px;
            cursor: pointer;
            color: #ec4432;
            //transition: all 0.2s linear 0s;
            font-size: 20px;
            font-weight: 700;

            .tab_inner {
              position: relative;
              z-index: 2;
              height: 100%;
              .tab_inner_name {
                display: block;
                position: absolute;
                top: 15px;
                background-color: #d9d9d9;
                color: #1f1f1f;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1.2px;
                left: -20px;
                padding-top: 15px;
                transition: all 0.2s ease;
                width: 180px;
                text-align: left;
                .line {
                  font-size: 0;
                  margin-left: 25px;
                  margin-top: 15px;
                  text-align: left;
                  span {
                    height: 5px;
                    background-color: #5a8090;
                    width: 5px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    transition: all 0.2s ease
                  }
                }
              }
              img {
                display: block;
                float: right;
              }
            }
          }
          li:before {
            content: "";
            display: block;
            border: 5px solid #fff;
            position: absolute;
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            z-index: 1;
            transition: all 0.2s ease;
          }
        }
        .tabs_description {
          width: 100%;
          background: #fff;
          text-align: left;
          float: left;
          padding-bottom: 50px;
          font-size: 22px;
          color: #484848;
          height: 500px;
        }
      }
    }
    .bl_presents_wrapper {
      padding: 0 30px;
      .bl_presents_wrapper_inner {
        background: red;
        padding: 43px 58px 68px;
        .bl_presents_wrapper_title {
          h3 {
            padding: 0 0 46px;
            margin: 0;
            color: #fff;
            font-size: 65px;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
          }
          p {
            text-align: center;
            color: #fff;
            font-size: 20px;
            margin-bottom: 30px;
          }
        }
        .bl_presents_wrapper_table {
          display: flex;
          align-items: center;
          justify-content: center;
          .item {
            margin: 0 30px 30px;
            padding: 36px 15px 51px;
            background: none;
            border: 10px solid #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 300px;
            width: 270px;
            justify-content: space-between;
            text-align: center;

            p {
              padding: 0;
              color: #fff;
              font-size: 25px;
            }
            .price_block {
              padding: 44px 0 0;
              color: #fff;
              font-size: 18px;
            }
          }
        }
        .button {
          width: 100%;
          padding: 20px 0 0;
          text-align: center;
          a {
            display: inline-block;
            padding: 38px 39px;
            color: #e52c2f;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            background: #fff;
            border: 2px solid #fff;
            transition: all 0.2s linear;
            &:hover {
              background: #e52c2f;
              color: #fff;
            }
          }
        }
      }
    }
    .bl_partners_wrapper {
      background: url('./../img/bg6.jpg') 50% 50% / cover no-repeat;
      .bl_partners_wrapper_inner{
        background: none;
        margin: 0 0 -400px;
        padding: 102px 0 975px;
        .bl_partners_wrapper_title{
          padding: 0 0 76px;
          color: #2f3c82;
          font-size: 45px;
          font-weight: normal;
          text-align: center;
        }
        .slider_partners{
          .carousel {
            .slider2 {
              position: relative;
              overflow: hidden;
            }

            .slider__wrapper {
              display: flex;
              transition: transform 0.6s ease;
            }

            .slider__item {
              flex: 0 0 35%;
              max-width: 35%;
            }

            .slider__control {
              position: absolute;
              top: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              color: #fff;
              text-align: center;
              opacity: 0.5;
              height: 50px;
              transform: translateY(-50%);
              background: rgba(0, 0, 0, .5);
            }

            .slider__control:hover,
            .slider__control:focus {
              color: #fff;
              text-decoration: none;
              outline: 0;
              opacity: .9;
            }

            .slider__control_left {
              left: 0;
            }

            .slider__control_right {
              right: 0;
            }

            .slider__control::before {
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              background: transparent no-repeat center center;
              background-size: 100% 100%;
            }

            .slider__control_left::before {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            }

            .slider__control_right::before {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            }

            .slider__item>div {
              line-height: 250px;
              font-size: 100px;
              text-align: center;
            }
          }
        }
      }
    }
    .bl_sale_wrapper{
      background-image: url('./../img/bg7.jpg');
      .bl_sale_wrapper_inner{
        padding: 72px 0 150px;
        align-items: center;
        display: flex;
        .bl_sale_wrapper_inner_left_column {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          padding: 0 95px 0 50px;
          text-align: center;
          .bl_sale_wrapper_inner_left_column_sales {
            max-width: 475px;
            margin: 0 auto 27px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .bl_sale_wrapper_inner_left_column_title {
              padding: 0;
              margin: 0;
              color: #fff;
              font-size: 60px;
              font-family: 'montserrat-bl', Arial, Helvetica, sans-serif;
              text-transform: uppercase;
              flex: 1 0 auto;
            }
            .bl_sale_wrapper_inner_left_column_discount {
              color: #fff;
              font-size: 40px;
              line-height: 151px;
              font-family: 'montserrat-bl', Arial, Helvetica, sans-serif;
              width: 151px;
              height: 151px;
              background: url('./../img/action-ico.png') 0 0 no-repeat;
            }

          }
          .bl_sale_wrapper_inner_left_column_text {
            padding: 0 0 33px;
            margin: 0 auto;
            max-width: 450px;
            color: #fff;
            font-size: 30px;
            font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
          }
          .button {
            padding: 60px 0 0;
            a {
              padding: 22px 40px;
              display: inline-block;
              color: #fff;
              font-size: 16px;
              font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
              text-decoration: none;
              text-transform: uppercase;
              background: #e52c2f;
              border: 2px solid #e52c2f;
              transition: all 0.2s linear;
              &:hover {
                background: #fff;
                color: #000;
              }
            }
          }
        }

        .bl_sale_wrapper_inner_right_column {
          display: flex;
          flex-direction: column;
          align-items: center;
          .bl_sale_wrapper_inner_right_column_title {
            padding: 0 0 33px;
            margin: 0 auto;
            max-width: 450px;
            color: #fff;
            font-size: 18pt;
            font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
            text-align: center;

            span {
              font-weight: bold;
              text-transform: uppercase;

            }
          }

        }
      }
    }
    .bl_services_wrapper {
      max-width: 1256px;
      margin: 0 auto;
      .bl_services_wrapper_inner{
        padding: 106px 0 129px;
        .bl_services_wrapper_inner_title{
          text-align: center;
          padding: 0 0 62px;
          color: #2f3c82;
          font-size: 45px;
          font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
        }
        .bl_services_table {
          display: flex;
          div {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 45px;
            text-align: center;
            img {
              width: 55px;
              margin: 0 auto 34px;
            }
            h3 {
              padding: 0;
              color: #000;
              font-size: 25px;
              font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
            }
            p {
              padding: 26px 0 0;
              color: #000;
              font-size: 18px;
              font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
            }
          }
        }
      }
    }
    .bl_12_wrapper {
      width: 100%;
      height: 100%;
      padding: 5px;
      img {
        width: 100%;
      }
    }
    .bl_13_wrapper {
      .bl_13_wrapper_inner {
        max-width: 1100px;
        margin: 0 auto;
        padding: 50px 0 60px;
        .bl_13_wrapper_inner_title {
          text-align: center;
          margin-bottom: 0;
          padding: 0 0 30px;
        }
        .bl_13_slider {
          text-align: center;
        }
      }
    }
    .bl_smeta_wrapper {
      background: url('./../img/bg8.jpg') 50% 50% / cover no-repeat;
      padding: 0 10px;
      .bl_smeta_wrapper_inner {
        padding: 101px 0 299px;
        max-width: 1256px;
        margin: 0 auto;
        text-align: center;
        .bl_smeta_wrapper_inner_title{
          padding: 0 0 52px;
          color: #fff;
          font-size: 55px;
          line-height: 1.2;
          font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
          font-weight: normal;
          text-align: center;
          text-transform: uppercase;
        }
        form {
          input {
            margin: 0 20px 10px;
            padding: 0 20px;
            height: 60px;
            box-shadow: none;
            border-radius: 0;
            color: #7d7d7d;
            font-size: 18px;
            font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
          }
        }
        button {
          margin: 69px 0 0;
          padding: 31px 63px;
          border-radius: 0;
          max-width: none;
          color: #fff;
          font-size: 20px;
          font-family: 'montserrat-b', Arial, Helvetica, sans-serif;
          font-weight: normal;
          text-transform: uppercase;
          background: #e52c2f;
          border: 2px solid #e52c2f;
          &:hover {
            background: #fff;
            color: #ec4432;
            border-color: #ec4432;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
    .bl_contact_map_wrapper {
      iframe {
        width: 100%;
        height: 700px;
      }
      .bl_contact_map_wrapper_inner {
        min-height: 700px;
        align-items: center;
        //padding: 0 20px;
        position: relative;
        .contacts_descriptions {
          position: absolute;
          top: 60px;
          right: 70px;
          padding: 35px 73px 46px;
          margin: 0 0 0 15px;
          max-width: 480px;
          color: #000;
          font-size: 15px;
          font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
          font-weight: normal;
          text-align: center;
          background: #fff;
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          border-radius: 0;
          img {
            border: 0;
            max-width: 100%;
            height: auto;
          }
          .contacts_descriptions_address {
            padding: 0 0 31px;
            font-size: 15px;
            line-height: 1.4;
            text-align: center;
          }
          .contacts_worktime {
            padding: 0 0 28px;
            font-size: 18px;
            color: #000;
            font-family: 'montserrat-r', Arial, Helvetica, sans-serif;
            text-align: center;
          }
          h4 {

          }
          p {
            font-size: 21px;
            padding-bottom: 8px;
            font-weight: 500;
          }

        }
      }

    }
  }
}

@media screen and (max-width: 1472px){
  body {
    header{
      nav {
        ul {
          li{
            .toggle {
                display: flex;
                margin-left: 20px;
              .min_menu_on{
                display: block;
                background: white;
                z-index: 1;
                padding: 5px;
                position: relative;
                top: 45px;
                left: -75px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
                .min_menu_list {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;

                  li {
                    margin: 0 0 10px;
                    width: 100%;
                    display: none;

                    a {
                      display: block;
                      width: 100%;

                    }
                    &:last-child {
                      margin-bottom: 0;
                    }
                    &:nth-child(9){
                      display: block;
                      a{
                        padding: 10px;
                        width: 176px;
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(9){
              display: none;
            }
          }

        }

      }
    }
  }


}
@media screen and (max-width: 1342px){
  body {
    header{
      nav {
        ul {
          li{
            .toggle {
              .min_menu_on{
                top: 75px;
                .min_menu_list {
                  li {
                    &:nth-child(8){
                      display: block;
                    }
                  }
                }
              }
            }
            &:nth-child(8){
              display: none;
            }
          }

        }

      }
    }
  }


}
@media screen and (max-width: 1262px){
  body {
    header{
      nav {
        ul {
          li{
            .toggle {
              .min_menu_on{
                top: 98px;
                .min_menu_list {
                  li {
                    &:nth-child(7){
                      display: block;
                    }
                  }
                }
              }
            }
            &:nth-child(7){
              display: none;
            }
          }

        }

      }
    }
  }


}

@media screen and (max-width: 1049px){
  body {
    header{
      nav {
        ul {
          li{
            .toggle {
              .min_menu_on{
                top: 130px;
                .min_menu_list {
                  li {
                    &:nth-child(6){
                      display: block;
                    }
                  }
                }
              }
            }
            &:nth-child(6){
              display: none;
            }
          }

        }

      }
    }
  }


}
@media screen and (max-width: 809px){
  body {
    header{
      nav {
        ul {
          li{
            .toggle {
              .min_menu_on{
                top: 155px;
                .min_menu_list {
                  li {
                    &:nth-child(5){
                      display: block;
                    }
                  }
                }
              }
            }
            &:nth-child(5){
              display: none;
            }
          }

        }

      }
    }
  }


}
@media screen and (max-width: 700px){
  body {
    header{
      nav {
        ul {
          li{
            display: none;
            .toggle {
              .min_menu_on{
                top: 250px;
                left: 65px;
                .min_menu_list {
                  li {
                    display: block;
                  }
                }
              }
            }
            &:last-child {
              display: block;
            }
          }

        }

      }
    }
  }


}


