.big-pic--theme9 .big-pic-wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 0;
  position: relative; }

.big-pic--theme9 .big-pic-wrapper.background:before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); }

.big-pic--theme9 .big-pic-wrapper.background .text-part {
  background: none;
  border-color: transparent; }

.big-pic--theme9 .big-pic-wrapper.top-left .big-pic-inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.big-pic--theme9 .big-pic-wrapper.top-center .big-pic-inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }

.big-pic--theme9 .big-pic-wrapper.top-right .big-pic-inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right; }

.big-pic--theme9 .big-pic-wrapper.center-left .big-pic-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.big-pic--theme9 .big-pic-wrapper.center-center .big-pic-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }

.big-pic--theme9 .big-pic-wrapper.center-right .big-pic-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right; }

.big-pic--theme9 .big-pic-wrapper.bottom-left .big-pic-inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.big-pic--theme9 .big-pic-wrapper.bottom-center .big-pic-inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }

.big-pic--theme9 .big-pic-wrapper.bottom-right .big-pic-inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right; }

.big-pic--theme9 .big-pic-inner {
  padding: 0 45px;
  min-height: 440px;
  height: 100%;
  max-width: 1138px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media all and (max-width: 980px) {
  .big-pic--theme9 .big-pic-inner {
    min-height: 380px; } }

@media all and (max-width: 767px) {
  .big-pic--theme9 .big-pic-inner {
    min-height: 280px; } }

@media all and (max-width: 599px) {
  .big-pic--theme9 .big-pic-inner {
    min-height: 180px;
    padding: 0 63px; } }

@media all and (max-width: 410px) {
  .big-pic--theme9 .big-pic-inner {
    min-height: 120px;
    padding: 0 16px; } }

.big-pic--theme9 .big-pic-inner .text-part {
  padding: 30px 40px;
  max-width: 710px;
  box-sizing: border-box;
  background: #000;
  border: 3px solid #d1d1d1;
  background-color: rgba(0, 0, 0, 0.6); }

@media all and (max-width: 599px) {
  .big-pic--theme9 .big-pic-inner .text-part {
    padding: 30px 25px; } }

@media all and (max-width: 767px) {
  .big-pic--theme9 .big-pic-inner .text-part {
    text-align: center; } }

.big-pic--theme9 .big-pic-inner .slogan {
  color: #fff;
  font-size: 36px;
  font-weight: 700; }

@media all and (max-width: 980px) {
  .big-pic--theme9 .big-pic-inner .slogan {
    font-size: 32px; } }

@media all and (max-width: 767px) {
  .big-pic--theme9 .big-pic-inner .slogan {
    font-size: 28px; } }

@media all and (max-width: 599px) {
  .big-pic--theme9 .big-pic-inner .slogan {
    font-size: 25px; } }

.big-pic--theme9 .big-pic-inner .slogan-inner {
  color: #fff;
  margin: 15px 0 0;
  font-size: 20px; }

@media all and (max-width: 980px) {
  .big-pic--theme9 .big-pic-inner .slogan-inner {
    font-size: 18px; } }

@media all and (max-width: 767px) {
  .big-pic--theme9 .big-pic-inner .slogan-inner {
    font-size: 16px; } }

@media all and (max-width: 599px) {
  .big-pic--theme9 .big-pic-inner .slogan-inner {
    font-size: 14px; } }

.big-pic--theme9.inverse .big-pic-wrapper.background:before {
  background: rgba(255, 255, 255, 0.6); }

.big-pic--theme9.inverse .big-pic-wrapper.background .text-part {
  background: none;
  border-color: transparent; }

.big-pic--theme9.inverse .big-pic-inner .text-part {
  border-color: #4a4a4a;
  background-color: rgba(255, 255, 255, 0.7); }

.big-pic--theme9.inverse .big-pic-inner .slogan, .big-pic--theme9.inverse .big-pic-inner .slogan-inner {
  color: #4a4a4a; }
