.title-page .blocklist-18 .image a {
  height: 168px;
  width: 168px;
  max-width: 168px;
  display: block;
  background: url(../icon_bg.png) 0 0 no-repeat;
  border-radius: 100%;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.32); }
  .title-page .blocklist-18 .image a:hover {
    background-position: 0 -168px; }

.title-page .blocklist-18 .img-convert {
  width: 100%;
  height: 100%; }

.title-page .blocklist-18 .item:hover, .title-page .blocklist-18 .item.hover, .title-page .blocklist-18 .item.active {
  background: none;
  box-shadow: none; }

.title-page .blocklist-18 .image img {
  width: auto !important;
  height: auto !important;
  min-width: auto !important;
  max-width: none !important; }

.title-page .blocklist-18 .item {
  box-shadow: none; }

.title-page .blocklist-18 .image {
  transform: scale(0.9); }

#_lp_block_17957403.big-pic--theme9 .big-pic-wrapper.bottom-left .big-pic-inner {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

#_lp_block_11304103 .big-pic-inner .button {
  position: static;
  margin-top: 0; }

#_lp_block_11304103 .big-pic-inner .button a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: none;
  border: none;
  padding: 0;
  font-size: 0; }
  #_lp_block_11304103 .big-pic-inner .button a:hover {
    background: none;
    border: none; }

#_lp_block_11304103 .big-pic-inner .text-part {
  display: none; }

#_lp_block_11304103 .big-pic-inner {
  padding: 0;
  min-height: auto;
  justify-content: flex-start;
  margin-bottom: 0;
  height: auto; }
  #_lp_block_11304103 .big-pic-inner img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }

.partners-wrapper {
  position: relative; }
  .partners-wrapper a.form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (max-width: 640px) {
  #_lp_block_11304103 {
    display: none; } }
