.tm_block1_wrapper1 {
  background: #f2f2f2;
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 38px 24px 48px; }

@media screen and (max-width: 767px) {
  .tm_block1_wrapper1 {
    padding: 20px 24px 48px; } }

.tm_block1_wrapper1.inverse {
  background: #ec4432; }

.tm_block1_wrapper1.inverse .tm_block1_title {
  color: #fff; }

.tm_block1_wrapper1.inverse .tm_block1_item {
  background: #f2f2f2; }

.tm_block1_wrapper1.inverse .tm_block1_item .tm_title {
  color: #242424; }

.tm_block1_wrapper1.inverse .tm_block1_item .tm_desc {
  color: #676767; }

.tm_block1_wrapper1.inverse .tm_block1_item .tm_text {
  color: #676767; }

.tm_block1_wrapper1.inverse .tm_block1_slider  .owl-nav button.owl-prev {
  background: #fba600; }

.tm_block1_wrapper1.inverse .tm_block1_slider  .owl-nav button.owl-prev:before {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227px%22%20height%3D%227px%22%20%20viewBox%3D%220%200%207%207%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M6.996%2C6.146%20L6.404%2C7.010%20L0.004%2C3.854%20L0.004%2C3.146%20L6.404%2C-0.010%20L6.996%2C0.854%20L1.630%2C3.500%20L6.996%2C6.146%20Z%22%2F%3E%3C%2Fsvg%3E") 50% 50% no-repeat;
  background-color: white;
  }

.tm_block1_wrapper1.inverse .tm_block1_slider .owl-nav button.owl-next {
  background: #fba600; }

.tm_block1_wrapper1.inverse .tm_block1_slider .owl-nav button.owl-next:before {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227px%22%20height%3D%227px%22%20%20viewBox%3D%220%200%207%207%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M6.996%2C6.146%20L6.404%2C7.010%20L0.004%2C3.854%20L0.004%2C3.146%20L6.404%2C-0.010%20L6.996%2C0.854%20L1.630%2C3.500%20L6.996%2C6.146%20Z%22%2F%3E%3C%2Fsvg%3E") 50% 50% no-repeat;
  background-color: #fff;
  }

.tm_block1_wrapper1.inverse .owl-dots .owl-dot {
  border-color: #000;
  background: #000;
  }

.tm_block1_wrapper1 .tm_block1_item .tm_title {
  font-size: 16px; }

.tm_block1_wrapper1.inverse .owl-dots .owl-dot.active {
  background: #fff;
  border-color: #fff;
  }

.tm_block1_wrapper1 .tm_block1_wrap {
  max-width: 1100px;
  margin: 0 auto; }

.tm_block1_wrapper1 .tm_block1_title {
  margin-bottom: 0;
  padding: 0 0 15px; }

@media screen and (max-width: 767px) {
  .tm_block1_wrapper1 .tm_block1_title {
    font-size: 21px; } }

.tm_block1_wrapper1 .tm_block1_slider {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto; }

.tm_block1_wrapper1 .tm_block1_slider.owl-carousel {
  display: block; }

.tm_block1_wrapper1 .tm_block1_slider.owl-carousel .tm_block1_item {
  margin-right: 4px;
  margin-bottom: 3px;
  max-width: 100%; }

.tm_block1_wrapper1 .tm_block1_item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 49%;
  -moz-box-flex: 1;
  -moz-flex: 1 0 49%;
  -ms-flex: 1 0 49%;
  flex: 1 0 49%;
  margin: 0 2% 20px 0;
  box-sizing: border-box;
  background: #fff;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 16px;
  text-align: left; }

@media screen and (max-width: 767px) {
  .tm_block1_wrapper1 .tm_block1_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 49%;
    -moz-box-flex: 1;
    -moz-flex: 1 0 49%;
    -ms-flex: 1 0 49%;
    flex: 1 0 49%;
    margin: 0 2% 20px 0;
    max-width: 100%; } }

.tm_block1_wrapper1 .tm_block1_item:nth-child(2n) {
  margin-right: 0; }

.tm_block1_wrapper1 .tm_block1_item .pic {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  margin: 0 17px 0 0; }

@media screen and (max-width: 979px) {
  .tm_block1_wrapper1 .tm_block1_item .pic {
    float: none;
    margin: 0 0 12px;
    width: auto; } }

.tm_block1_wrapper1 .tm_block1_item .pic img {
  height: 200px;
  max-height: 200px; }

.tm_block1_wrapper1 .tm_block1_item .tm_text_wr {
  overflow: hidden; }

.tm_block1_wrapper1 .tm_block1_item .tm_desc {
  margin-bottom: 0;
  padding: 0 0 14px; }

.tm_block1_wrapper1 .tm_block1_item .tm_text {
  margin-bottom: 0; }

.tm_block1_wrapper1 .owl-carousel .owl-stage {
  padding: 2px 0 0 0; }

.tm_block1_wrapper1 .owl-carousel .owl-stage-outer {
  padding: 0 0 0 2px; }

.tm_block1_wrapper1 .tm_block1_slider  .owl-nav button.owl-prev {
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 0;
  background: #ec4432;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.19); }

@media screen and (max-width: 899px) {
  .tm_block1_wrapper1 .tm_block1_slider  .owl-nav button.owl-prev {
    left: -10px; } }

.tm_block1_wrapper1 .tm_block1_slider  .owl-nav button.owl-prev:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227px%22%20height%3D%227px%22%20%20viewBox%3D%220%200%207%207%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M6.996%2C6.146%20L6.404%2C7.010%20L0.004%2C3.854%20L0.004%2C3.146%20L6.404%2C-0.010%20L6.996%2C0.854%20L1.630%2C3.500%20L6.996%2C6.146%20Z%22%2F%3E%3C%2Fsvg%3E") 50% no-repeat;
  }

.tm_block1_wrapper1 .tm_block1_slider .owl-nav button.owl-next {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  font-size: 0;
  line-height: 0;
  background: #ec4432;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.19); }

@media screen and (max-width: 899px) {
  .tm_block1_wrapper1 .tm_block1_slider .owl-nav button.owl-next {
    right: -10px; } }

.tm_block1_wrapper1 .tm_block1_slider .owl-nav button.owl-next:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227px%22%20height%3D%227px%22%20%20viewBox%3D%220%200%207%207%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M6.996%2C6.146%20L6.404%2C7.010%20L0.004%2C3.854%20L0.004%2C3.146%20L6.404%2C-0.010%20L6.996%2C0.854%20L1.630%2C3.500%20L6.996%2C6.146%20Z%22%2F%3E%3C%2Fsvg%3E") 50% 50% no-repeat; }

.tm_block1_wrapper1 .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -29px;
  text-align: center;
  font-size: 0;
  line-height: 0; }

.tm_block1_wrapper1 .owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  border: 1px solid #ec4432;
  background: #f5efe8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 5px; }

.tm_block1_wrapper1 .owl-dots .owl-dot.active {
  background: #ec4432; }

@media screen and (min-width: 980px) {
  .tm_block1_wrapper1 .tm_block1_item .tm_text_wr {
    padding-top: 8px; } }
